html {
	font: 13px Arial, sans-serif;
}
a {
	text-decoration: none;
	color: #49e;
}
h3 {
	margin: 8px 0;
	color: #666;
}
input {
	font: inherit;
	vertical-align: middle;
}
input[type=text] {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}
input[type=checkbox] {
	margin: 0;
	vertical-align: text-bottom;
}
input[type=radio] {
	margin: 0 0 0 4px;
}
.m-button,
input[type=submit] {
	display: inline-block;
	padding: 4px 12px;
	line-height: 1.15;
	color: #444;
	background: #ededed;
	background: linear-gradient(to bottom, #ededed, #ededed 38%, #dedede);
	border: 1px solid rgba(0, 0, 0, .25);
	border-radius: 2px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .08), inset 0 1px 2px rgba(255, 255, 255, .75);
	text-shadow: 0 1px 0 #f0f0f0;
	cursor: default;
}
.m-button:hover,
input[type=submit]:hover {
	color: black;
	background-image: linear-gradient(to bottom, #f0f0f0, #f0f0f0 38%, #e0e0e0);
	border-color: rgba(0, 0, 0, .3);
	box-shadow: 0 1px 0 rgba(0, 0, 0, .12), inset 0 1px 2px rgba(255, 255, 255, .95);
}
.m-button:active,
input[type=submit]:active {
	background-image: linear-gradient(to bottom, #e7e7e7, #e7e7e7 38%, #d7d7d7);
	box-shadow: none;
	text-shadow: none;
}
.m-button:focus,
input[type=submit]:focus {
	transition: border-color 200ms;
	border-color: rgb(77, 144, 254);
	outline: none;
}
.m-button.disabled,
input[type=submit].disabled {
	color: #aaa;
	background-image: -webkit-linear-gradient(#f1f1f1, #f1f1f1 38%, #e6e6e6);
	background-image: linear-gradient(to bottom, #f1f1f1, #f1f1f1 38%, #e6e6e6);
	border-color: rgba(80, 80, 80, .2);
	box-shadow: 0 1px 0 rgba(80, 80, 80, .08), inset 0 1px 2px rgba(255, 255, 255, .75);
}
.m-down {
	padding-right: 8px;
}
.m-down:after {
	content: '\25BC';
	margin-left: 4px;
	font-size: 0.8em;
	color: #666;
}
.clearInput {
	display: inline-block;
	vertical-align: top;
	width: 18px;
	height: 22px;
	line-height: 24px;
	margin-left: -18px;
	color: #ccc;
}
.clearInput:before {
	content: '\2716';
}
.clearInput:hover {
	color: #999;
}
.checkboxes {
	margin-bottom: 10px;
}
.checkboxes label {
	overflow: hidden;
	display: block;
	padding: 4px;
}
.checkboxes label:hover {
	background: #fff;
	border-radius: 2px;
}
.checkboxes .controls {
	font-size: smaller;
	margin-bottom: 4px;
}
.checkboxes .actions {
	float: right;
	margin-left: 3px;
	font-size: 0.8em;
	color: #666;
}
.checkboxes .actions a {
	display: inline-block;
	padding: 6px 6px 5px;
	background: #eee;
}
.checkboxes .actions a:hover {
	background: #ddd;
}
.row {
	margin: 8px 0;
	white-space: nowrap;
}
.row.b-inline {
	margin-right: -4px;
}
.row.b-inline label,
.row.b-inline input[type=text] {
	display: inline-block;
	width: 80px;
}

.l-sidebar {
	position: fixed;
	overflow-y: auto;
	left: 0;
	top: 0;
	bottom: 0;
	padding: 8px 18px;
	width: 160px;
	background: #eee;
	background-image: linear-gradient(to right, #eee 97%, #e0e0e0);
	border-right: 1px solid #d0d0d0;
}
.l-sidebar > form {
	width: 160px;
}
.l-sidebar h3 {
	margin: 16px 0 8px;
}
.l-sidebar input[type=submit] {
	width: 100%;
}
.l-sidebar input.exclude {
	float: right;
	margin: 5px 5px 0;
}
.l-sidebar input.exclude:checked + label {
	color: #666;
	text-decoration: line-through;
}
.l-sidebar input.exclude:checked + label input {
	opacity: .4;
}
.l-content {
	margin-left: 200px;
}
.b-inline {
	letter-spacing: -0.31em; /* webkit: collapse white-space between units */
	*letter-spacing: normal; /* reset IE < 8 */
	word-spacing: -0.43em; /* IE < 8 && gecko: collapse white-space between units */
}
.b-inline > * {
	display: inline-block;
	*display: inline; *zoom: 1; /* IE < 8: fake inline-block */
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
}
.b-author {
	padding: 2px 8px 8px;
	border-bottom: 3px solid #ddd;
}
.b-author.m-active {
	background: #f0f0f0;
}
.b-author .actions {
	float: right;
	margin: 8px 2px;
}
.b-author .number {
	display: inline-block;
	margin-right: 4px;
	min-width: 30px;
	line-height: 30px;
	text-align: center;
	background: #ddd;
	border-radius: 4px;
}
.b-images {
	display: inline;
	margin: 0;
	padding: 0;
}
.b-images > * {
	position: relative;
	margin-right: 3px;
	margin-bottom: 3px;
}
.b-images img {
	display: block;
	min-width: 24px;
	height: 120px;
	background: #ddd;
}
.b-images .selected {
	background: #36c;
	outline: 3px solid #36c;
}
.b-images .selected img {
	opacity: .7;
}
.b-author.m-active .b-images .cursor {
	position: relative;
	background: #6cf;
	outline: 3px solid #6cf;
	z-index: 1;
}
.b-images .showInGallery {
	display: block;
}
.b-images .showInGallery:after {
	content: attr(data-galleries);
	display: block;
	position: absolute;
	padding: 4px 8px;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 12px;
	color: white;
	background: rgba(0,0,0,.5);
	opacity: 0;
}
.b-images li:hover .showInGallery:after {
	transition: opacity 200ms;
	opacity: 1;
}
.b-images .similar {
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	line-height: 24px;
	font-size: 18px;
	text-align: center;
	color: white;
	background: rgba(0,0,0,.5);
	opacity: 0;
}
.b-images .similar:after {
	content: '\223C';
}
.b-images li:hover .similar {
	transition: opacity 200ms;
	opacity: 1;
}
.b-images .update {
	position: absolute;
	top: 0;
	right: 0;
	width: 24px;
	height: 24px;
	line-height: 24px;
	font-size: 18px;
	text-align: center;
	color: white;
	background: rgba(0,0,0,.5);
	opacity: 0;
}
.b-images .update:after {
	content: '\270E';
}
.b-images li:hover .update {
	transition: opacity 200ms;
	opacity: 1;
}

.authors-list .page {
	position: relative;
}

.moreImages {
	display: inline-block;
	vertical-align: top;
	padding: 50px 0;
	width: 120px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #777;
	background: #ccc;
	box-shadow: inset 0 3px 8px #999;
}
.moreImages:hover {
	box-shadow: none;
}

.showMore {
	margin: 12px 0;
}

.modal-wrap {
	padding: 12px;
}
.modal-window {
	padding: 4px;
	background: #666;
}
.modal-window .gallery {
	margin: 0;
	width: 900px;
	background: transparent;
}
.modal-window .gallery .image-wrap {
	height: 605px;
	background: #333;
}
.modal-window .gallery .thumbs-wrap {
	height: 108px;
}
.modal-window .gallery .thumbs-block {
	background: transparent;
}
.modal-window .gallery .thumbs-list {
	width: 90000px;
}
.modal-window .gallery .thumbs-list a img {
	border-color: #888;
	border-radius: 2px;
}
.modal-window .gallery .thumbs-list a:hover img {
	border-color: #bbb;
}
.modal-window .gallery .thumbs-list a.active img {
	border-color: white;
}
.modal-window .gallery .thumbs-list a.active:before {
	border-bottom-color: white;
}

.b-dropmenu {
	display: none;
	position: absolute;
	z-index: 10;
	margin-top: 9px;
	background: white;
	border: 1px solid #999;
	box-shadow: 0 2px 4px rgba(0,0,0,.5);
}
.b-dropmenu ul {
	margin: 0;
	padding: 8px 0;
	list-style: none;
}
.b-dropmenu a {
	display: block;
	padding: 4px 10px;
	padding-right: 20px;
	color: #333;
}
.b-dropmenu a:focus,
.b-dropmenu a:hover {
	background: #ddd;
}

.updateControl {
	display: none;
	position: absolute;
	z-index: 10;
	margin-top: 3px;
	padding: 8px 16px;
	min-width: 150px;
	background: white;
	border: 1px solid #999;
	box-shadow: 0 2px 4px rgba(0,0,0,.5);
}
.updateControl:before {
	content: '';
	position: absolute;
	top: -18px;
	left: 4px;
	border: 9px solid transparent;
	border-bottom-color: #999; 
}
.updateControl:after {
	content: '';
	position: absolute;
	top: -16px;
	left: 5px;
	border: 8px solid transparent;
	border-bottom-color: white; 
}
.updateControl .closeButton {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	color: #999;
}
.updateControl .closeButton:after {
	content: '\2716';
}
.updateControl .checkboxes label:hover {
	background: #eee;
}